<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/styles.css">

</head>
<body ng-app="app" ng-controller="AppCtrl as ctrl" ng-cloak>

<div class="holder">
  <div class="table-blank-wrap">
    <table class="table-blank">
      <tr ng-repeat="blankItem in ctrl.blankData">
        <td>{{blankItem.value}}</td>
      </tr>
    </table>
    <div class="data-wrap">
      <div class="expand-arrow"></div>
      <div class="data-overflow-container">
        <div class="data">
          <table class="table-data">
            <tr ng-repeat="item in ctrl.data">
              <td>{{item.value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>

</body>
</html>